<div class="container">
  <h2>USER DATA FORM</h2>
  <br />

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
    <!--Name Input-->
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" formControlName="name" />

      <div
        *ngIf="!userForm.get('name')?.valid && userForm.get('name')?.touched"
      >
        <div
          class="alert alert-danger"
          *ngIf="userForm.controls['name'].hasError('required')"
        >
          Please Enter Your Name
        </div>
        <div
          class="alert alert-danger"
          *ngIf="userForm.controls['name'].hasError('minlength')"
        >
          Please Enter Atleast 5 Characters
        </div>
        <div
          class="alert alert-danger"
          *ngIf="userForm.controls['name'].hasError('maxlength')"
        >
          Character Limit Exceed
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        name="email"
        type="text"
        formControlName="email"
      />
      <div
        *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched"
      >
        <div
          class="alert alert-danger"
          *ngIf="userForm.controls['email'].hasError('required')"
        >
          Please Enter Your Email
        </div>
        <div
          class="alert alert-danger"
          *ngIf="userForm.controls['email'].hasError('pattern')"
        >
          Please Enter Valid Email
        </div>
      </div>
    </div>

    <!--Street-->
    <div formGroupName="address">
      <div class="form-group">
        <label>Street</label>
        <input
          class="form-control"
          name="street"
          type="text"
          formControlName="street"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !userForm.get('address.street')?.valid &&
            userForm.get('address.street')?.touched
          "
        >
          Please Enter Your Street Name
        </div>
      </div>

      <!--City-->
      <div class="form-group">
        <label>City</label>
        <input
          class="form-control"
          name="city"
          type="text"
          formControlName="city"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !userForm.get('address.city')?.valid &&
            userForm.get('address.city')?.touched
          "
        >
          Please Enter Your City Name
        </div>
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input
          class="form-control"
          name="postalcode"
          type="text"
          formControlName="postalcode"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            !userForm.get('address.postalcode')?.valid &&
            userForm.get('address.postalcode')?.touched
          "
        >
          Please Enter Your Postal Code
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
